module_00/*/__pycache__
module_01/*/__pycache__
module_02/*/__pycache__
module_00/*/*/__pycache__
module_01/*/*/__pycache__
module_02/*/*/__pycache__
module_02/tmp_env
.vscode/launch.json
arachnida/data*

arachnida/__pycache__/functions.cpython-311.pyc
coRSAir/__pycache__/gen_private_key.cpython-311.pyc
coRSAir/__pycache__/loading.cpython-311.pyc
coRSAir/__pycache__/utils.cpython-311.pyc
ft_otp/__pycache__/ft_otp.cpython-311.pyc
ft_otp/__pycache__/ftp2.cpython-311.pyc
ft_otp/PySimpleGui.py
.gitignore
.vscode/launch.json
.vscode/launch.json
arachnida/log_nivel_1.txt
arachnida/log_nivel_2.txt
arachnida/log_nivel_3.txt
arachnida/log_nivel_5.txt
arachnida/log.txt
.vscode/launch.json
ft_otp/ftp2.py
ft_onion/docker/ps_script.ps1
ft_otp/ftp2.py
ft_onion/docker/ssh/id_rsa
.gitignore
ft_onion/docker/ssh/id_rsa.pub
01 - Python module_00/.DS_Store
01 - Python module_00/ex02/.DS_Store
.gitignore
ft_otp/ftp2.py
02 - Python Module 02/.DS_Store
.gitignore
02 - Python Module 02/ex00/__pycache__/book.cpython-311.pyc
02 - Python Module 02/ex00/__pycache__/recipe.cpython-311.pyc
02 - Python Module 02/ex01/__pycache__/game.cpython-310.pyc
02 - Python Module 02/ex02/__pycache__/vector.cpython-310.pyc
02 - Python Module 02/ex02/__pycache__/vector.cpython-311.pyc
02 - Python Module 02/ex03/__pycache__/generator.cpython-310.pyc
02 - Python Module 02/ex04/__pycache__/eval.cpython-311.pyc
02 - Python Module 02/ex05/__pycache__/the_bank.cpython-310.pyc
02 - Python Module 02/ex05/__pycache__/the_bank.cpython-311.pyc
module_01/.DS_Store
module_01/ex01/__pycache__/game.cpython-310.pyc
module_01/ex02/__pycache__/vector.cpython-310.pyc
module_01/ex03/__pycache__/generator.cpython-310.pyc
03 - Python Module 02/ex01/__pycache__/ft_filter.cpython-311.pyc
03 - Python Module 02/ex03/__pycache__/csvreader.cpython-311.pyc
03 - Python Module 02/ex04/my_minipack/__pycache__/__init__.cpython-310.pyc
03 - Python Module 02/ex04/my_minipack/__pycache__/logger.cpython-310.pyc
03 - Python Module 02/ex04/my_minipack/__pycache__/progress_bar.cpython-310.pyc
03 - Python Module 02/ex05/__pycache__/TinyStatistician.cpython-311.pyc
